trigger:
- master

pool:
  name: QA-PC
  demands: npm

steps:

- task: NodeTool@0
  inputs:
    versionSpec: '15.x'
    checkLatest: true

- script: |
   npm install -g newman
    
  displayName: 'Install Newman'

- script: |
   npm install -g newman-reporter-htmlextra
   
  displayName: 'Install Newman htmlextra'

- script: |
   npm install -g newman-reporter-testrail
   
  displayName: 'Install TestRail Reporting'

- task: DeleteFiles@1
  inputs:
    SourceFolder: '/Users/setup/myagent/_work/26/s/newman'
    Contents: '**/*'

- task: carlowahlstedt.NewmanPostman.NewmanPostman.NewmanPostman@4
  displayName: 'Newman - Postman'
  inputs:
    collectionFileSource: 'Postman Collections/Hao_Sandbox.json'
    environment: 'Staging.postman_environment.json'
    pathToNewman: 'C:\Windows\SysWOW64\node_modules\newman\bin\newman.js'
    #dataFile: payload.json
    numberOfIterations: 1
    ignoreRedirect: false
    bail: false
    sslInsecure: false
    reporters: junit,htmlextra,testrail
    reporterJUnitExport: postmanResults.xml
    htmlExtraDarkTheme: true
    htmlExtraLogs: true
    htmlExtraTestPaging: true
    htmlExtraReportTitle: 'Hao_Sandbox'
    timeoutScript: 400000
  continueOnError: true
- task: PublishTestResults@2	
  displayName: 'Publish Test Results **/postmanResults.xml'	
  inputs:	
    testResultsFiles: '**/postmanResults.xml'

- script: |
   node script.js
    
  displayName: 'Node script'

- task: PublishPipelineArtifact@1
  displayName: 'Publish Pipeline Artifact'
  inputs:
    targetPath: '/Users/setup/myagent/_work/26/s/newman'
    artifact: Newman_Test_Run
  enabled: true
