trigger:
- master

pool:
  name: QA-PC
  demands: npm

steps:

- task: NodeTool@0
  inputs:
    versionSpec: '15.x'
    checkLatest: true

#- script: |
   #npm install -g newman
    
  #displayName: 'Install Newman'
- task: CmdLine@2
  inputs:
    script: 'npm install -g newman'
    workingDirectory: '$(Agent.BuildDirectory)'

#- script: |
   #npm install -g newman-reporter-htmlextra
   
  #displayName: 'Install Newman htmlextra'

- task: CmdLine@2
  inputs:
    script: 'npm install -g newman-reporter-htmlextra'
    workingDirectory: '$(Agent.BuildDirectory)'

#- script: |
   #npm install -g newman-reporter-testrail
   
  #displayName: 'Install TestRail Reporting'

- task: CmdLine@2
  inputs:
    script: 'npm install -g newman-reporter-testrail'
    workingDirectory: '$(Agent.BuildDirectory)'

- task: DeleteFiles@1
  inputs:
    SourceFolder: '$(Agent.BuildDirectory)\s\newman'
    Contents: '**/*'

- task: carlowahlstedt.NewmanPostman.NewmanPostman.NewmanPostman@4
  displayName: 'Newman - Postman'
  inputs:
    collectionFileSource: 'Postman Collections/Hao_Sandbox.json'
    environment: 'Staging.postman_environment.json'
    numberOfIterations: 1
    ignoreRedirect: false
    bail: false
    sslInsecure: false
    reporters: junit,htmlextra,testrail
    reporterJUnitExport: postmanResults.xml
    htmlExtraDarkTheme: true
    htmlExtraLogs: true
    htmlExtraTestPaging: true
    htmlExtraReportTitle: 'Hao_Sandbox'
    timeoutScript: 400000
  continueOnError: true
- task: PublishTestResults@2	
  displayName: 'Publish Test Results **/postmanResults.xml'	
  inputs:	
    testResultsFiles: '**/postmanResults.xml'

- task: PublishPipelineArtifact@1
  displayName: 'Publish Pipeline Artifact'
  inputs:
    targetPath: '$(Agent.BuildDirectory)\s\newman'
    artifact: Newman_Test_Run
  enabled: true

#- script: |
   #node script.js
    
  #displayName: 'Node script'

- task: CmdLine@2
  inputs:
    script: 'node script.js'
    workingDirectory: '$(Agent.BuildDirectory)'


